<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input type="text" name="" id="" placeholder="Codigo do ativo">
            <button type="submit">Buscar</button>
        </form>

        <h3></h3>
        <p id="price_open"></p>
        <p id="price"></p>
        <p id="day_high"></p>
        <p id="day_low"></p>
    </div>
        <p>{{Autor}}</p>
</body>
<script src="./js/app.js"></script>
</html>